{% extends 'base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'news/css/others/news_login_register.css' %}">
{% endblock %}
{% block content %}
<center>
    <div class="content">
        
        <div class="back">
            
            <div class="form">
                <form action="" method="post">
                    {% for field in form %}
                        <h4>{{field.error}} </h4>
                        <h3>{{ field.label}}</h3> {{field}}
                    {% endfor %}
                    {% csrf_token%}
                    <button type="submit" style="padding:5px 15px; display:block; margin-top:15px;"
                     class="btn btn-outline-success" >
                        {{title}}
                    </button>
                </form>
            </div>
        </div>
    </div>
</center>
{% endblock %}